[Unit]
Description=Atlantis Status Logger
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/atlantis-logger.sh --once
User=root
